{% extends 'base_prueba.html' %}


{% block title %}Lista de Roles{% endblock %}
{% block h1 %}Lista de Roles{% endblock %}
    {% block table %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
        <tr>
          <th >ID</th>
          <th >Nombre Rol</th>
        </tr>
    </thead>
        {% if roles_list %}
        {% for rol in roles_list %}
      <tbody>
        <tr>
        <th >{{rol.id_rol}}</th>
        <td> {{ rol.nombre_rol }} </td>
        <!--<td>{{rol.estado}}</td>-->
        <td><a class="btn btn-success btn-sm " href="{% url 'modificarrol' rol.id_rol %}">Editar</a></td>
        <td><a class="btn btn-danger btn-sm " href="{% url 'eliminarrol' rol.id_rol %}">Eliminar</a></td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen roles</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>

    {% endblock %}