{% extends 'base_prueba.html' %}


{% block title %}Lista de Roles{% endblock %}
{% block h1 %}Lista de Roles{% endblock %}
    {% block table %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

        <a href="{% url 'crearrol' %}" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
           </span>
           <span class="text">Añadir Rol</span>
        </a>
        
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
        <tr>
          <th >ID</th>
          <th >Nombre Rol</th>
        </tr>
    </thead>
        {% if roles_list %}
        {% for rol in roles_list %}
      <tbody>
        <tr>
        <th >{{rol.id_rol}}</th>
        <td> {{ rol.nombre_rol }} </td>
        <!--<td>{{rol.estado}}</td>-->
        
        <td><a href= "{% url 'modificarrol' rol.id_rol %}" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
              <i class="fas fa-edit"></i>
              </span>
              <span class="text">Editar</span>
            </a>
         </td>
         <td><a href= "{% url 'eliminarrol' rol.id_rol %}" class="btn btn-danger btn-icon-split">
              <span class="icon text-white-50">
              <i class="fas fa-trash"></i>
              </span>
              <span class="text">Eliminar</span>
            </a>
         </td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen roles</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>

    {% endblock %}