{% extends 'base_prueba.html' %}
{% block content %}
<form method="post" id="formPago">

  {% csrf_token %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <a href="{% url 'pagos:listarPagos' %}" class="btn btn-info">Volver</a>
    </div>
    <div class="card-body">
      <div class="content">   
        <div class="row">
          <div class="col-lg-6 form-group">
            <div class="content">
              <div class="row">
                <div class="col-lg-1">Nr.</div>
                <div class="col-lg-4"><input type="text"  class="form-control form-control-user" value="{{ pago.id_pago }}" readonly></div>
                <!--<div class="col-lg-2">Cliente:</div>
                <div class="col-lg-5 form-group">
                  <select name="cliente" id="clienteFactura" class="form-control" required>
                    <option value="">Seleccione el cliente</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id_cliente }}">{{ cliente.nombre_cliente }} {{ cliente.apellido_cliente }}</option>
                    {% endfor %}
                  </select>
                </div>-->
              </div>
              <div class="row">
                <div class="col-lg-6 p-2">
                  <div class="row">
                    <div class="col-lg-2">Fecha:</div>
                    <div class="col-lg-8 form-group">
                      <input type="text" name="fecha" id="fecha" class="form-control form-control-user" value="{{ pago.fecha_pago|date:'Y-m-d' }}" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 p-2 form-group">
                  <!--<div class="row">
                    <div class="col-lg-3">Subtotal:</div>
                    <div class="col-lg-8">
                      <input type="number" name="subTotal" id="subTotal" class="form-control text-right" value="0.00" readonly>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">Desc:</div>
                    <div class="col-lg-8">
                      <input type="number" name="descuento" id="descuento" class="form-control text-right" value="0.00" disabled>
                    </div>
                  </div>-->
                  <!--<div class="row">
                    <div class="col-lg-3">Total:</div>
                    <div class="col-lg-8">
                      <input type="number" name="total" id="total" class="form-control text-right" value="0.00" disabled>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <div class="row p-2">
              <div class="col-lg-1">Cód:</div>
              <div class="col-lg-3">
                <input type="text" name="codigo" id="codigo" class="form-control" placeholder="Código de la factura">
              </div>
              <div class="col-lg-7">
                <input type="text" name="cliente" id="cliente" class="form-control" placeholder="Cliente" disabled required>
              </div>
              
              <!--nuevo-->
              <div class="col-lg-1">
                <button type="button" class="btn btn-info" id="btnBuscar"><i class="fab fa-searchengin"></i></button>
              </div>
            </div>
            <div class="row">
              
              <div class="col-lg-3">
                <input type="text" name="concepto_pago" id="concepto_pago" class="form-control" placeholder="Concepto" required>
              </div>
              <div class="col-lg-1">Monto:</div>
              <div class="col-lg-4">
                <input type="text" name="precio" id="precio" class="form-control" placeholder="Total" readonly>
                
                <!--<input type="number" name="porc_iva" id="porc_iva" class="form-control" placeholder="porcentaje IVA" readonly>-->
              </div>
              <!--<div class="col-lg-3">
                <input type="number"  name="descuentoDetalle" id="descuentoDetalle" class="form-control" placeholder="Descuento">
              </div>-->
              <div class="col-lg-1">
                <button type="submit" class="btn btn-danger" id="btnGuardar"><i class="far fa-plus-square"></i></button>
              </div>
            </div>
            <!--<div class="row p-1">
              <div class="col-lg-9 text-right">Subtotal:</div>
              <div class="col-lg-3">
                <input type="number" name="subTotalDetalle" id="subtotalDetalle" class="form-control" placeholder="Subtotal" value="0.00" disabled>
              </div>
            </div>
            <div class="row p-1">
              <div class="col-lg-9 text-right">Total:</div>
              <div class="col-lg-3">
                <input type="number" name="totalDetalle" id="totalDetalle" class="form-control" placeholder="Total" value="0.00" disabled>
              </div>
            </div>-->
          </div>
        </div>
        <hr>
        <!--<div class="row p-1">
          <div class="col-lg-12">
            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-fullscreen="true" data-locale="es-NI">
              <thead>
                <tr>
                  <th data-sortable="true" data-field="ïd">Id</th>
                  <th data-sortable="true" data-field="codigo">Código</th>
                  <th data-sortable="true" data-field="descripcion">Descripción</th>
                  <th data-field="cantidad">Cantidad</th>
                  <th data-field="subTotalDetalle">Subtotal</th>
                  <th data-field="monto_exento_det">Exentas</th>
                  <th data-field="monto_gravado_det">5%</th>
                  <th data-field="monto_iva_det">10%</th>
                  <th data-field="descuentoDetalle">Descuento</th>
                  <th data-field="totalDetalle">Total</th>
                  <th class="all">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for item in detalleFactura %}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.producto }}</td>
                  <td>{{ item.producto.descripcion }}</td>
                  <td>{{ item.cantidad }}</td>
                  <td>{{ item.subTotalDetalle }}</td>
                  <td>{{ item.monto_exento_det }}</td>
                  <td>{{ item.monto_gravado_det }}</td>
                  <td>{{ item.monto_iva_det }}</td>
                  <td>{{ item.descuentoDetalle }}</td>
                  <td>{{ item.totalDetalle }}</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-circle" onclick="borrarDetalle({{ item.id }})"><i class="fas fa-history"></i></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>-->
      </div>
    </div>
  </div>

</form>
{% endblock %}
{% block javascript %}
<script>
  function buscarFactura() {
    const codigo = $('#codigo').val();

    if (codigo === '') return false;

    const path = "{% url 'api:listaFacturas' %}" + codigo;

    $.ajax({
      type: 'GET',
      url: path,
      success: function(r) {

        $('#codigo').val(r.codigo);
        $('#cliente').val(r.cliente);
        $('#precio').val(r.precio);
      },
      error: function(a) {
        if (a.status === 404) {
          mensaje('Factura -' + codigo + '- no encontrado o no existe', 'red');
          $('#codigo').val('');
          $('#cliente').val('');
          $('#precio').val('0.00');          
        }
      }
    });
  }

  $(document).ready(function() {
    $("#sidebarToggle").click();


    $('#btnBuscar').click(function(e) {
      abrirModal("{% url 'pagos:pagosFactura' %}");
    });

    $('#codigo').keypress(function(e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        buscarProducto();
      }
    });


    $('#id_pago').val({{ pagos.id_pago }});
    $('#factura').val("{{ pagos.factura }}").change();
    $('#fecha_pago').val("{{ pagos.fecha_pago|date:'Y-m-d' }}");
    $('#monto_pago').val({{ pagos.monto_pago}});
    $('#concepto_pago').val("{{  pagos.concepto_pago }}")
    
  });
</script>
{% endblock %}