{% extends 'base_prueba.html' %}
{% load crispy_forms_tags %}
{% block title %}Agregar Timbrado{% endblock %}
{% block h1 %}Agregar un nuevo Timbrado{% endblock %}
{% block content %}  
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Ingrese datos del timbrado</h6>
  </div>
    <div class="card-body">
      <form method="post" novalidate action="{% url 'facturacion:creartimbrado' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Agregar Timbrado</button>
      <a href="{% url 'facturacion:listartimbrados'%}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
</div>
{% endblock %}