{% extends 'base_prueba.html' %}


{% block title %}Lista de Marcas{% endblock %}
{% block h1 %}Lista de Marcas{% endblock %}
    {% block table %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <a class ="btn btn-success btn-icon-split"  href= "{% url 'agregar_marca' %}">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">Añadir Marca</span>
        </a>
      </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descripcion</th>
        </tr>
    </thead>
        {% if marca_list %}
        {% for marca in marca_list %}
      <tbody>
        <tr>
        <th scope="row">{{marca.id_marca}}</th>
        <td> {{marca.descripcion}} </td>
        <td><a class="btn btn-success btn-icon-split " href="{% url 'modificar_marca' marca.id_marca %}">
          <span class="icon text-white-50">
            |<i class="fas fa-edit"></i>
            </span>
            <span class="text">Editar</span>
        </a>
        </td>
        <td><a class="btn btn-danger btn-icon-split " href="{% url 'eliminar_marca' marca.id_marca %}">
          <span class="icon text-white-50">
            |<i class="fas fa-trash"></i>
            </span>
            <span class="text">Eliminar</span>
        </a></td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen marcas</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>
  {% endblock %}

