{% extends 'base_prueba.html' %}


{% block title %}Lista de Pacientes{% endblock %}
{% block h1 %}Lista de Pacientes{% endblock %}
    {% block table %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

        <a href="{% url 'crearpaciente' %}" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
           </span>
           <span class="text">Agregar Nuevo</span>
        </a>
        
      </div>
      <div class="card-body">
          <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Especie</th>
          <th scope="col">Dueño</th>
        </tr>
    </thead>
        {% if pacientes_list %}
        {% for paciente in pacientes_list %}
      <tbody>
        <tr>
        <th scope="row">{{paciente.id_paciente}}</th>
        <td> {{paciente.nombre_paciente}} </td>
        <td>{{paciente.fecha_nacimiento|date:'d/m/Y'}}</td>
        <td>{{paciente.especie_paciente}}</td>
        <td>{{paciente.id_cliente}}</td>
        <td><a class="btn btn-success btn-icon-split" href="{% url 'modificarpaciente' paciente.id_paciente %}">
          <span class="icon text-white-50">
            <i class="fas fa-edit"></i>
            </span>
            <span class="text">Editar</span>
        </a></td>
        <td><a class="btn btn-danger btn-icon-split" href="{% url 'eliminarpaciente' paciente.id_paciente %}">
          <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
            </span>
            <span class="text">Eliminar</span>
        </a></td>
        <td><a class="btn btn-warning btn-icon-split" href="{% url 'listar_vacunas_paciente' paciente.id_paciente %}">
          <span class="icon text-white-50">
            <i class="fa fa-medkit"></i>
            </span>
            <span class="text">Vacunas</span>
        </a></td>
        <td><a href="{% url 'imprimirLibreta' paciente.id_paciente %}" class="btn btn-warning btn-circle" target="_factura"><i class="fas fa-print"></i></a></td>
        <td><a class="btn btn-info btn-icon-split" href="{% url 'listar_historial_paciente' paciente.id_paciente %}">
          <span class="icon text-white-50">
            <i class="fa fa-medkit"></i>
            </span>
            <span class="text">Historial</span>
        </a></td>
        <td><a href="{% url 'imprimirHistorial' paciente.id_paciente %}" class="btn btn-info btn-circle" target="_factura"><i class="fas fa-print"></i></a></td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen pacientes</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>
  {% endblock %}

