
{% extends 'base_prueba.html' %}


{% block title %}Lista de Clientes{% endblock %}
{% block h1 %}Lista de Clientes{% endblock %}
    {% block table %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

        <a href="{% url 'crearcliente' %}" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
           </span>
           <span class="text">Agregar</span>
        </a>
        
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
        <tr>
          <th >ID</th>
          <th >Cedula</th>
          <th >Nombre</th>
          <th >Apellido</th>

        </tr>
    </thead>
        {% if clientes_list %}
        {% for cliente in clientes_list %}
      <tbody>
        <tr>
        <th scope="row">{{cliente.id_cliente}}</th>
        <td> {{cliente.cedula_cliente}} </td>
        <td>{{cliente.nombre_cliente}}</td>
        <td>{{cliente.apellido_cliente}}</td>
        <td><a href= "{% url 'modificarcliente' cliente.id_cliente %}" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
              |<i class="fas fa-edit"></i>
              </span>
              <span class="text">Editar</span>
            </a>
         </td>
         <td><a href= "{% url 'eliminarcliente' cliente.id_cliente %}" class="btn btn-danger btn-icon-split">
              <span class="icon text-white-50">
              |<i class="fas fa-trash"></i>
              </span>
              <span class="text">Eliminar</span>
            </a>
         </td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen Clientes</p>
      {% endif %}
       </tbody>
    </table>
    <div class="container">
  </div>

    {% endblock %}